
/**
*   assessment part
*/

.section {
    width: 980px;
    margin: 25px auto 20px auto;
    font-family: "Microsoft YaHei","Arial","sans-serif";
}


.lfloat {
    float: left;
    display: inline;
}

.News ul.list li{
    font-family: "Microsoft YaHei","Arial","sans-serif";
    font-size: 14px;
    border-top: 1px solid #5b0808;
    border-left: 1px solid #5b0808;
    border-right: 1px solid #5b0808;
    list-style: none;
    padding: 0px;
}

.News.no-border ul.list li{
    border-left: none;
    border-right: none;
    border-bottom:none;
    border-top:1px solid #5b0808;
}



.list li {
    line-height: 40px;
    border-bottom: 1px solid #5b0808;
}

.list li.main {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.list li.main span {
    margin-left: 10%;
    color: #5b0808;
    font-weight: bold;
}

.list li.main span.more {
    float: right;
    margin-right: 15%;
    cursor: pointer;
}

.list li.vice {
    line-height: 40px;
    height: 40px;
}

.list li.vice span.title {
    color: #5b0808;
    margin-left: 6%;
    cursor: pointer;
}

.list li.vice span.title:hover {
    color: #5b0808;
}

.list li a {
    float: left;
    margin: 0 10px;
    color: #5b0808;
}


.side_list2 .title_h2 {
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
    background: url(../../../build/images/sq.png) left 11px no-repeat;
}

.side_list2 .province {
    padding-top: 10px;
}

.province a {
    display: inline-block;
    width: 39px;
}

.vcc-pagelist {
    margin: 40px auto 0px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 100px;
}

.page {
    margin-top: 40px;
}

.page span {
    margin: 0 8px;
}

#next, #one, #btn {
    background: #5b0808;
    color: #fff;
    cursor: pointer;
}
.page span {
    margin: 0 8px;
}

.vcc-pagelist input {
    width: 40px;
    height: 20px;
    margin: 0 2px;
    border: 1px solid #5b0808;
}
.page input {
    margin: 0 2px;
    width: 40px;
    height: 20px;
    border: 1px solid #5b0808;
    line-height: 20px;
    text-indent: 5px;
    text-align: center;
}


.f_14_black {
    color: #fff;
    padding: 4px 10px;
    margin: 0 4px;
    background: #5b0808;
    cursor: text;
}
.page .page_btn, .page a:hover {
    color: #fff;
    padding: 4px 10px;
    margin: 0 4px;
    background: #5b0808;
}

nav ul.pagination li a {
    cursor: pointer;
}

nav ul.pagination li a:hover {
    background: #5b0808;
    color: #fff;
    font-size: 1.4em;
}

div.previous span,
div.next span{
    color:#5b0808;
}


div.previous span:hover{
    color:#5b0808;
    cursor: pointer;
    font-size: 1.6em;
}

div.next span:hover{
    color:#5b0808;
    cursor:pointer;
    font-size: 1.6em;
}


.list li.vice span.title{
    display: block;
    float: left;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.list li.vice span.date{
    float: right;
    margin-right: 10%;
    color: #000000;
    font-size: 15px;
}